{% extends "base.html" %}
{% block content %}
<div class="row">
	<h3>{{ question.title }}</h3>
	<p>{{ question.text }}</p>
	<ul>
	{% for answer in question.answer_set.all %}
		<li>{{ answer.text }}</li>
		<hr>
	{% endfor %}
	</ul>
</div> 
    <div class="row">
    	<form class="form-horizontal" method="post" action="{{ question.get_url }}">
    		<fieldset>
    		{% csrf_token %}
   			<input value="{{question.id}}" type="hidden" name="question">
    		<div class='control-group'>
    			<label class="control-label">Comment:</label>
    			<div class="contols">{{form.text}}</div>
    		</div>
    		</fieldset>
    		<div class="form-actions"><button type="submit" class="btn btn-primary">SAVE</button></div>
    	</form>
    </div>
{% endblock %}